h1, h2, h3, h4, body {
  font-family: 'Open Sans', 'sans-serif';
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
  color: white;
  opacity: 0.75;
}
.navbar {
  border: none;
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 1000;
}
.navbar-default .navbar-toggle {
  border: solid 1.5px white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00c6ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.home-collout, .navbar {
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-collout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}
.alert-notice {
  display: none;
}
.margin-50 {
    margin: 50px;
}

ul.ads-list li{
  font-size:12px;
  height: 50px;
  min-height: 50px;
  overflow:auto;
}
ul.ads-list li.comment-item{
  font-size:12px;
  height: 160px;
  min-height: 160px;
  overflow:auto;
}
ul.ads-list li.ads-list-title{
 font-size:16px;
}

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}


