<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {{title or "Work App v1.0"}} {% endblock %}</title>
  <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class='flashes'>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}

    <!-- include pages -->

  {% endblock %}

</body>
</html>