{% extends 'base.html' %}
{% block content %}

  <form id="form_search_ads" method="POST" action="" enctype="multipart/form-data">

    <label for="comp">Company</label><br>
    <input name="comp" id="comp"><br>
    <label for="serv">Service</label><br>
    <input name="serv" id="serv"><br>
    <label for="key">Key Word</label><br>
    <input name="key" id="key"><br>
    <input type="hidden" name="option" id="option" value="get_ads"><br>
    <input type="submit" value="Search" />
  </form>

  <a href="{{ url_for('ads.new') }}">New Ad</a>

  <div class="select_ad">
    <form id="form_select_ads" method="POST" action="{{url_for('ads.show_ad')}}" enctype="multipart/form-data">
      <div class="div-search-content">

        <!--assync request content-->

      </div>
    </form>
  </div>

{% endblock %}