{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <a href="{{ url_for('ads.new') }}">New batch</a>

  <h4>All ads</h4>

  {% for ad in all_ads %}
    <ul>
      <h4>Company: {{ ad.company }}</h4>
      <li>Service: {{ ad.service }}</li>
      <li>Offensive: {{ ad.offensive }}</li>
      <li>Misleading: {{ ad.misleading }}</li>
      <li>Inappropriate: {{ ad.inappropriate }}</li>
    </ul>
  {%endfor%}

{% endblock %}