{% extends "base.html" %}
{% block content %}
  
  <h3>WorkTool v1.0</h3> 
  <h4>Welcome to the funny time of work!</h4>

  <form id="form_num_ads" method="POST" action="{{ url_for('ads.handler') }}">
    <select name="num_ads" id="num_ads">
      {% for i in range(20) %}
        {% if i+1 == 20 %}
          <option value="{{i+1}}" selected="selected">{{i+1}}</option>
        {% else %}
          <option value="{{i+1}}">{{i+1}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="New batch">
  </form>

{% endblock %}