{% extends "base.html" %}
{% block content %}

  <form method="POST" action="" enctype="multipart/form-data">

    <div >
      <label for="comp">Company</label><br>
      <input name="comp" id="comp" value="{{ session['comp'] }}"><br>

      <label for="serv">Service</label><br>
      <input name="serv" id="serv" value="{{ session['serv'] }}"><br>
    </div>
    <div>
      <div>
        <label for="offen">Offensive</label><br>
        {% for key in threeRate %}
          {% if key == "1" %}
            <input type="radio" name="offen" id="offen" checked="checked" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% else %}
            <input type="radio" name="offen" id="offen" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        <label for="misl">Misleading</label><br>
        {% for key in threeRate %}
          {% if key == "1" %}
            <input type="radio" name="misl" id="misl" checked="checked" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% else %}
            <input type="radio" name="misl" id="misl" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% endif %}
          
        {% endfor %}
      </div>
      <div>
        <label for="inap">Inappropriate</label><br>
        {% for key in threeRate %}
          {% if key == "1" %}
            <input type="radio" name="inap" id="inap" checked="checked" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% else %}
            <input type="radio" name="inap" id="inap" value="{{threeRate[key]}}">{{threeRate[key].title()}}<br>
          {% endif %}
          
        {% endfor %}
      </div>
      <div>
        <label for="over">Overall</label><br>
        {% for key in fiveRate %}
          {% if key == "3" %}
            <input type="radio" name="over" id="over" checked="checked" value="{{fiveRate[key]}}">{{fiveRate[key].title()}}<br>
          {% else %}
            <input type="radio" name="over" id="over" value="{{fiveRate[key]}}">{{fiveRate[key].title()}}<br>
          {% endif %}

        {% endfor %}
      </div>
    </div>
    <div>
      <label for="reas">Reason</label><br>
      <input name="reas" id="reas"><br>
      <label for="expl">Explaining</label><br>
      <input name="expl" id="expl"><br>
      <label for="add">Addition</label><br>
      <input name="add" id="add"><br>
      <label for="comm">Comment</label><br>
      <textarea name="comm" id="comm"></textarea><br>
      <label for="trans">Translation</label><br>
      <textarea name="trans" id="trans"></textarea><br>
    </div>

    <input type="submit" value="Create" />
  </form>

  <a href="{{url_for('ads.next')}}">Next</a>
  
{% endblock %}