{% extends 'base.html'%}

{% block page_name %}Show All{% endblock %}

{% block page_content %}

  <h4>All ads</h4>

  {% for ad in all_ads %}
    <ul>
      <h4>Company: {{ ad.company }}</h4>
      <li>Service: {{ ad.service }}</li>
      <li>Offensive: {{ ad.rate.offensive }}</li>
      <li>Misleading: {{ ad.rate.misleading }}</li>
      <li>Inappropriate: {{ ad.rate.inappropriate }}</li>
      <li>Comment: {{ ad.rate.comment }}</li>
    </ul>
  {%endfor%}

  {% if error_msg %}
    <p>{{ error_msg }}</p>
  {% endif %}
{% endblock %}