{% extends "base.html" %}
{% block content %}

  {% if error_msg %}
    {{ error_msg }}
  {% endif %}

  <form method="POST" action="{{ url_for('handlead') }}" enctype="multipart/form-data">
   <label>company:<br />
        <input type="text" name="comp" id="comp" />
   </label>
   <br />
   <label>service:<br />
        <input name="serv" id="serv"></input>
   </label>
   <br />
   <input type="submit" value="Search" />
  </form>

  {% if search %}
    <a href="{{ url_for('newad') }}">Create a new ad</a>

    <ul>
      {% for ad in ads %}
      <li> Service: {{ad.serv}} Company: {{ad.comp}} </li>
    </ul>
    
  {% endif %}
  
{% endblock %}